

@using PagedList.Mvc;

@model PagedList.IPagedList<DeliveryTracking.Models.Order>

@{
    ViewBag.Title = "Order Details";
}

<style>
    .ul.pagination {
        display: inline-block;
        padding: 0;
        margin: 0;
    }

    ul.pagination li {
        display: inline;
    }

        ul.pagination li a {
            color: black;
            float: left;
            padding: 8px 16px;
            text-decoration: none;
            transition: background-color .3s;
        }

            ul.pagination li a.active {
                background-color: #4CAF50;
                color: white;
            }

            ul.pagination li a:hover:not(.active) {
                background-color: #ddd;
            }
</style>
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>
@using (Html.BeginForm())
{
    <center>
        <h2>Order Details</h2>
        <div style="border:1px solid
red; margin-left:25%; margin-right:20%">
            <table style="width:100%" border="1">
                <tr>
                    @*<th style="width:10%; text-align:left"> @Html.Label("ID")</th>*@
                    <th style="width:10%; text-align:left"> @Html.Label("Order Code")</th>
                    <th style="width:10%; text-align:left">@Html.Label("OrderDate")</th>
                    <th style="width:15%; text-align:left">@Html.Label("Order Comments")</th>
                    <th style="width:15%; text-align:left">@Html.Label("Order status")</th>
                </tr>

                @for (int i = 0; i < Model.Count; i++)
                {
                    <tr style="border:1px solid
red">
                       @* <td>@Model[i].ID</td>*@
                        <td>@Model[i].OrderCode</td>
                        <td>@Model[i].OrderDateTime</td>
                        <td>@Model[i].comments</td>
                        <td>
                            <asp:DropDownList ID="DdlStatus" runat="server">
                                <asp:ListItem Enabled="true" Text="Select Status" Value="-1"></asp:ListItem>
                                <asp:ListItem Text="Ordered" Value="1"></asp:ListItem>
                                <asp:ListItem Text="Accepeted" Value="2"></asp:ListItem>
                                <asp:ListItem Text="Accepeted" Value="3"></asp:ListItem>
                                <asp:ListItem Text="Ready" Value="4"></asp:ListItem>
                                <asp:ListItem Text="Out for Delivery" Value="5"></asp:ListItem>
                                <asp:ListItem Text="Delivered" Value="6"></asp:ListItem>
                                <asp:ListItem Text="Cancelled" Value="7"></asp:ListItem>
                            </asp:DropDownList>
                        </td>
                        <td>
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Edit" asp-route-id="@Model[i].ID"> Edit</a>
                        </td>

                    </tr>

                }
            </table>


        </div>
    </center>
    <div id="container" style="margin-left: 20px">
        <p></p>
        <p></p>
        @*<div class="pagination" style="margin-left: 400px">
                Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)
                of @Model.PageCount   @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
            </div>*@
    </div>

}